<h3>{{#str}} newanalysisrun, local_customerintel {{/str}}</h3>
<div class="mb-3"><a class="btn btn-secondary" href="{{dashboardurl}}">{{#str}} backtodashboard, local_customerintel {{/str}}</a></div>
<div>{{{formhtml}}}</div>